.main-footer {
    color: white;
    background-color: #000000;
    padding-top: 10px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 170px;
} 

.logo-image {
    padding-top: 30px;
    padding-bottom: 30px;
}

.first-column a, .second-column a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

@media only screen and (max-width: 992px) {
    .first-column a, .second-column a, .copyright {
        font-size: 12px;
    }
}

.first-column a:hover, .second-column a:hover {
    color: #999;
    text-decoration: none;
}